
th {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 120px;
  padding-left: 120px;
}

table {
  text-align: center;
}

td {
  overflow-wrap: break-word;
  resize: none;
}

.todo-write {
  float: right;
}

.validate-title {
  color: red
}

.validate-content {
  color: red
}

textarea {
  resize: none;
}
