
th {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 120px;
  padding-left: 120px;
}

table {
  text-align: center;
}

td {
  overflow-wrap: break-word;
  resize: none;
}

button.todo-write {
  margin-top: 10px;
  float: right;
}

textarea {
  resize: none;
}
